* {
    margin: 0px;
    padding: 0px;
}

/* Navbar Section */
.menu-container {
    background-color: rgb(76, 75, 75);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-photo {
    width: 120px;
}

.menus {
    display: flex;
}

.item {
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.item:hover {
    color: blue;
}

/* Banner Section */
.banner-img {
    width: 300px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100vh;
    background-image: url("images/background.png"), linear-gradient(45deg, rgb(39, 38, 38), rgb(59, 58, 58));
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
/* about us section styles */
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* flex-direction: row-reverse; */
}
.title{
    text-align: center;
    padding-top: 20px;
}
.about-photo{
   
}
.about-info{
    
}
/* our services section style */
.box{
  width: 230px;
  height: 360px;  
  box-shadow: 10px 10px 30px rgb(253, 253, 253);
  background-color: black;
  text-align: center;
  padding: 15px;
  color: white;
  border-radius: 10px;
}
.icon{
    width: 100px;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-details{
    text-align: center;
    padding: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
    background-color: rgb(76, 75, 75);
}
/* 1.33 hour */